<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NativeToMe | Logout</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
             <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
             </li>

                <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		         Tribes
		        </a>
		            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		                <a class="dropdown-item" href="#">Search Tribes</a>
		                <a class="dropdown-item" href="#">Create Tribe</a>
		            </div>
		        </li>

		    </ul>
                <a href="/accounts/login.html" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
		  </div>
    </nav>
You've successfully been logged out.
</body>
</html>